# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = news_scraper.settings

# Project: News Scraper
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = dbd79e4c15f34c6f8bccba64538db305
password =
project = 35230